<%- contentFor('hero')  %>
<section class="hero-section">
  <div class="hero-section-text">
    <h2>About Site</h2>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quaerat facilis rem mollitia sapiente, molestias earum hic, illo qui, consequatur praesentium quod. Maxime reprehenderit dicta nemo laudantium magnam officia itaque ipsam optio nihil quisquam pariatur accusantium odit quam nostrum eveniet quasi, ipsum reiciendis et error consectetur. A asperiores qui accusantium voluptate nobis dolor cupiditate! Voluptate consequuntur dolorum eum impedit ratione voluptatum repudiandae debitis adipisci asperiores cum fugiat magnam, soluta aliquid, laudantium officia quidem numquam. Dignissimos unde omnis placeat repellat eum dolores asperiores aperiam esse, veritatis enim neque nisi perferendis blanditiis perspiciatis ab odio recusandae consectetur saepe minus, tempora earum. Molestias.</h5>
    <div class="call-to-action">
      <a class="large primary button">
        Get Started
      </a>
      <a class="large primary button">
        Contact
      </a>
    </div>
  </div>
</section>
