<%- contentFor('hero')  %>
<section class="hero-section">
  <div class="hero-section-text">
    <h2>Welcome to the Site</h2>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellendus officia soluta maiores rerum odio error beatae distinctio aliquid adipisci. Adipisci, pariatur aspernatur sequi eaque modi quae autem laudantium ad officia doloribus similique quisquam placeat repellat eligendi, veritatis possimus architecto accusantium magnam sint rem est, quo provident non? Eligendi nostrum ea harum temporibus quia, laboriosam dolores adipisci, veniam odit aperiam delectus suscipit nisi voluptatem illum repellendus cum amet enim deserunt? Laboriosam architecto veritatis quae repudiandae facilis quos eum a sit ipsum. Vero totam unde eum iusto doloribus expedita, animi minus placeat sunt ipsum obcaecati qui eos dicta? Ex, architecto minima?</h5>
    <div class="call-to-action">
      <a class="large primary button">
        Get Started
      </a>
      <a class="large primary button">
        Contact
      </a>
    </div>
  </div>
</section>
